/.vscode
/10armstrongno.cpp
/10armstrongno.exe
/10star2.cpp
/10star2.exe
/11star3.cpp
/11star3.exe
/12star4.cpp
/12star4.exe
/13star5.cpp
/13star5.exe
/14star5.cpp
/14star5.exe
/15star.cpp
/15star.exe
/16star.cpp
/16star.exe
/17star.cpp
/17star.exe
/18star.cpp
/18star.exe
/19binary.cpp
/19binary.exe
/1sizeof.cpp
/1sizeof.exe
/20practice.cpp
/20practice.exe
/21practice.cpp
/21practice.exe
/222practice.cpp
/2swapnumbers.cpp
/2swapnumbers.exe
/3primeno.cpp
/3primeno.exe
/4Checkvowel.cpp
/4Checkvowel.exe
/5fibonacci.cpp
/5fibonacci.exe
/6factorial.cpp
/6factorial.exe
/7leapyear.cpp
/7leapyear.exe
/8sumofdigits.cpp
/8sumofdigits.exe
/9reverseofanum.cpp
/9reverseofanum.exe
/9star1.cpp
/9star1.exe